/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}
 
/* COMMON */
ul{
    list-style-type: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    /* debug */
    /* background-color: aqua; */
    
}

a {
    text-decoration: none;
    margin-right: 10px;
    color: inherit;
}

main {
    padding-top: 70px;
}

.flex {
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.black{
    color: black;
}



/* HEADER */
header{
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 9999;
    /* debug */
    /* border: 2px solid rgba(0, 0, 0, 0); */
    background-color: white;
    height: 70px;
    padding: 3px;
    align-items: center;
}


/* HEDER LEFT */
.lih {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 4px;    
    /* debug */    
    /* width: 30%; */    
    /* border-style: dotted; */
    /* background-color: #FFC0CB; */
}
.btnh-blu{
    background-color: #027cff;
    padding: 8px;
    border: 0;
    color: white;
}

/* HERO */
.section1 {
    background-color: rgb(66, 135, 196);
    min-height: 100px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    
}

.hr-nav {
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-color: #FFC0CB;
    /* min-height: 100px; */
    /* margin: 100px 20px 0 20px; */
}

.hrcontainer {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 10px 20px;
}

.container-text {
    width: 30%;
    min-height: 100px;
    /* padding: 40px 20px; */
    background-color: #b01730;
    border-style: dotted;
}

.container-immagine {
    min-height: 100px;
    width: 70%;
    background-color: #117c9f;
    border-style: dotted;
}

/* -HERO */

/* MAIN */

.container{
    display: flex;
    min-height: 100px;

}
.wrapper {
    margin: 0 auto;
    padding: 20px 20px;
    width: 80%;
    background-color: #b01730;
}

.col {
    width: calc(100% / 3);
    padding: 10px;
    background-color: aquamarine;
    flex-direction: column;
    display: flex;
    height: 100px;
}
.card{
    height: 100px;
    background-color: #8a3644;
}

.title {
    width: 100%;
    background-color: #FFC0CB;
}

/* SEZIONE 3 */

.etichetta{
    width: 100%;
    /* debug */
    background-color: aliceblue;
    min-height: 50px;
}

.text{
    /* debug */
    width: 100%;
    background-color: rgb(85, 135, 179);
    min-height: 50px;
}

.m-immagine{
    width: 80%;
    background-color: rgb(215, 218, 46);
    min-height: 50px;
}
.m-text{
    width: 20%;
    background-color: rgb(22, 131, 84);
    min-height: 50px;

}

/* CARDS */
.collonna{
    width: calc(100% / 3);
    padding: 10px;

    min-height: 50px;
    background-color: aquamarine;
}

.width-provvisoria{
width: 100%;
background-color: #007bff;
}

/* FOOTER */
/* FOOTER  TOP*/
.footer-top,
.footer-bottom {
    background-color: black;
    padding: 5px 0;
    margin-bottom: 2px;
    
}
.white {
    color: white;
}


.f-blu {
    width: 20%;
    min-height: 100px;
    border-style: dotted;
    margin-top: 5px;
    background-color: #ADD8E6;
}

/* FOOTER  BOTTOM*/
.lightgreen {
    width: 100%;
    justify-content: space-between;
    padding: 10px 220px;
    /* background-color: aquamarine; */
}

.img-ita {
    height: 12px;
}

/* ICONE */
.fa-brands {
    margin: 5px 5px 0 0;
    color: white;
}

/* BANDIERA */
.p-ita {
    color: white;
}

.color-lil {
    color: #8096DE;
}

.bold {
    font-weight: bold;
}

.f-logo,
.f-buttom {
    width: 20%;
    margin: 5px 12px 5px 12px;
    /* border-style: dotted; */
    /* background-color: #FFC0CB; */
}

.f-buttom,
.f-right {
    text-align: right;
}

h4 {
    color: #8096DE;
    font-size: 2em;
}

.li-f {
    margin-bottom: 10px;
}